{% load static %}

<style type="text/css">
	.notification-thumbnail-image{
		height: 50px;
		width: 50px;
	}
	.chat-card:hover{
		cursor: pointer;
		background: #f2f2f2;
	}
	.chat-card{
		border-bottom: 1px solid var(--main-background-color);
	}
	.timestamp-text{
		color: var(--secondary-text-color);
	}
	.notification-chatroom-msg{
		color: var(--light-primary-text-color);
	}
	#id_notifications_loading_spinner{
		position: absolute;
		margin-top: 40px;
	}
	.chat-dropdown-header:hover{
		cursor: pointer;
		background: var(--main-background-color);
	}
	.chat-dropdown-header{
		color: var(--light-primary-text-color);
	}
</style>

<p class="d-none" id="id_chat_newest_timestamp"></p>
<p class="d-none" id="id_chat_page_number">1</p>

<script src="{% static 'collections/collections.min.js' %}"></script>

<!-- Payloads sent to consumer -->
<script type="text/javascript">

	/*
		Retrieve the number of unread chat notifications. (This is the red dot in the notifications icon)
		Called every CHAT_NOTIFICATION_INTERVAL
	*/
	function getUnreadChatNotificationsCount(){
		if("{{request.user.is_authenticated}}"){
			notificationSocket.send(JSON.stringify({
				"command": "get_unread_chat_notifications_count",
			}));
		}
	}

	/*
		Retrieve the next page of chat notifications
		Called when the user scrolls to the bottom of the popup menu.
	*/
	function getNextChatNotificationsPage(){
		var pageNumber = document.getElementById("id_chat_page_number").innerHTML
		// -1 means exhausted or a query is currently in progress
		if("{{request.user.is_authenticated}}" && pageNumber != "-1"){
			notificationSocket.send(JSON.stringify({
				"command": "get_chat_notifications",
				"page_number": pageNumber,
			}));
		}
	}
	
	/*
		Retrieve any new chat notifications
		Called every CHAT_NOTIFICATION_INTERVAL seconds
	*/
	function getNewChatNotifications(){
		newestTimestamp = document.getElementById("id_chat_newest_timestamp").innerHTML
		console.log("NEWEST TS: " + newestTimestamp)
		if("{{request.user.is_authenticated}}"){
			notificationSocket.send(JSON.stringify({
				"command": "get_new_chat_notifications",
				"newest_timestamp": newestTimestamp,
			}));
		}
	}

	/*
		Retrieve the number of unread chat notifications. (This is the red dot in the notifications icon)
		Called every CHAT_NOTIFICATION_INTERVAL
	*/
	function getFirstChatNotificationsPage(){
		if("{{request.user.is_authenticated}}"){
			notificationSocket.send(JSON.stringify({
				"command": "get_chat_notifications",
				"page_number": "1",
			}));
			getUnreadChatNotificationsCount()
		}
	}

	/*
		Start the functions that will be executed constantly
	*/
	function startChatNotificationService(){
		if("{{request.user.is_authenticated}}" == "True"){
			setInterval(getNewChatNotifications, CHAT_NOTIFICATION_INTERVAL)
			setInterval(getUnreadChatNotificationsCount, CHAT_NOTIFICATION_INTERVAL)
		}
	}

	startChatNotificationService()
</script>



<script type="text/javascript">
	/**
		Helpers for assigning ids to important elements.
	**/
	function assignChatDiv1Id(notification){
		return "id_chat_div1_" + notification['notification_id']
	}

	function assignChatImgId(notification){
		return "id_chat_img_" + notification['notification_id']
	}

	function assignChatTitleId(notification){
		return "id_chat_title_" + notification['notification_id']
	}

	function assignChatroomMessageId(notification){
		return "id_chat_message_" + notification['notification_id']
	}

	function assignChatDiv2Id(notification){
		return "id_chat_div2_" + notification['notification_id']
	}

	function assignChatTimestampId(notification){
		return "id_timestamp_" + notification['notification_id']
	}

	function assignChatCardId(notification){
		return "id_notification_" + notification['notification_id']
	}

	function setChatInitialTimestamp(){
		// ('%Y-%m-%d %H:%M:%S.%f')
		var today = new Date();
		var date = today.getFullYear() + "-01-01 01:00:00.000000"
		document.getElementById("id_chat_newest_timestamp").innerHTML = date
	}

	setChatInitialTimestamp()
</script>




